.loginPage{
    display: flex;
    justify-content: center;
}

.loginPage__card{
    width: 350px;
    height: 180px;
    box-shadow: 0px 5px 10px black;
    border-radius: 20px;
    padding: 20px;
}

.loginPage__inputs{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.loginPage__buttons{
    display: flex;
    flex-direction: row-reverse;
    margin: 20px 0;
}