.registerPage{
    display: flex;
    justify-content: center;
}

.registerPage__card{
    width: 400px;
    height: 400px;
    box-shadow: 0px 5px 10px black;
    border-radius: 20px;
    padding: 20px;
}

.registerPage__buttons{
    display: flex;
    flex-direction: row-reverse;
    margin: 20px 0;
}

