.sidebar{
    background-color: $primary;
    color: $white;
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.sidebar__title {
    padding: 10px 0px;
    padding-left: 30px;
    h3 {
        font-family: 'Leckerli One', cursive;
        font-size: 35px;
    }
}

.sidebar__nav{
    display: flex;
    flex-direction: column;
}

.sidebar__nav-item{
    font-size: 25px;
    font-weight: bold;
    padding: 20px 0px;
    padding-left: 30px;
    &:hover{
        background-color: lighten($color: $primary, $amount: 5);
    }
}

.sidebar__nav-item-active{
    color: $secondary;
    background-color: $white;
}